p {
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
  font-family: montserrat regular;
  font-size: 20pt;
  margin-top: 0;
  margin-top: 12px;
  margin-bottom: 0em;
}

@media (max-width: 768px) {
  p {
    font-size: 10pt!important;
  }
}

@media (max-width: 575px) {
  a {
  }
}

@media (min-width: 1px) and (max-width: 576px) {
  a {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 18pt !important;
  }
}

@media (max-width: 769px) {
  h2 {
    font-size: 3vw !important;
  }
}

img {
}

@media (max-width: 768px) {
  h6 {
    font-size: 2vw !important;
  }
}

@media (min-width:557px) and (max-width: 768px) {
  .author {
    width: 100px;
    height: 100px;
  }
}

@media (max-width:556px) {
  .author {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .link_under {
    margin-top: 2%;
    font-size: 8pt!important;
  }
}

@media (max-width: 360px) {
  .portrait {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  ul {
    font-size: 2vw !important;
  }
}

@media (max-width: 768px) {
  li {
    font-size: 10pt!important;
  }
}

@media (min-width: 992px) {
  .table1 {
    /*max-width: 100% !important;*/
  }
}

td {
}

@media (max-width: 768px) {
  .question {
  }
}

@media (min-width: 992px) {
  .table1 {
    max-width: 800px;
  }
}

@media (max-width: 576px) {
  .question {
    font-size: 5vw !important;
  }
}

@media (max-width: 576px) {
  .table2 {
    font-size: 10px !important;
  }
}

@media (max-width: 576px) {
  .table3 {
    font-size: 10px !important;
  }
}

@media (max-width: 991px) {
  .name1 {
    display: none;
  }
}

@media (min-width: 922px) {
  .name2 {
    display: none;
  }
}

.name1 {
  font-size: 14pt;
}

@media (max-width: 991px) {
  .list1 {
    display: none;
  }
}

.exampleP {
  margin-left: 5%;
  font-size: 16pt;
}

@media (max-width: 768px) {
  .exampleP {
    font-size: 8pt!important;
  }
}

@media (min-width: 991px) {
  .cardsm {
    display: none;
  }
}

@media (max-width: 991px) {
  .buttonxl {
    display: none;
  }
}

@media (min-width: 992px) {
  .cardsm {
    display: none;
  }
}

@media (max-width: 991px) {
  .buttonxl1 {
    display: none;
  }
}

@media (max-width: 576px) {
  .exampleT {
    max-width: 100% !important;
  }
}

@media (min-width:576px) {
  .p-sm-5 {
    padding: 3rem!important;
    padding-bottom: 0rem!important;
  }
}

@media (min-width: 361px) {
  .xx1 {
    display: none;
  }
}

@media (min-width: 361px) {
  .cardsm.xxl1 {
    display: none;
  }
}

@media (max-width: 360px) {
  .cardsm.xxl2 {
    display: none;
  }
}

@media (max-width: 360px) {
  .xx3 {
    height: 160vw!important;
  }
}

@media (max-width: 768px) {
  .001 {
    margin-top: 20%;
  }
}

@media (min-width: 768px) {
  .001 {
    padding-top: 200px;
  }
}

.001 {
}

@media (max-width: 360px) {
  .xx0 {
    height: 43rem!important;
  }
}

@media (max-width: 768px) {
  .lll {
    font-size: 2vw!important;
  }
}

@media (max-width: 360px) {
  .xx0 {
    height: 180vw!important;
  }
}

@media (max-width: 768px) {
  .link4 {
    font-size: 10pt!important;
  }
}

head {
  link rel="preconnect" href="https: //fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;
}

@media (min-width: 1550px) {
  .headnorm {
    font-size: 46pt!important;
    display: none;
  }
}

@media (min-width: 1550px) {
  .headnorm1 {
    font-size: 45pt!important;
  }
}

@media (min-width: 1550px) {
  .buttonxl {
    /*height: 40vw !important;*/
  }
}

.headnorm2 {
  font-size: 35pt!important;
}

p {
  font-size: 18pt;
}

.tablexmp {
  font-size: 16pt;
}

.podpis {
  font-size: 16pt;
}

@media (max-width: 768px) {
  .headnorm2 {
    font-size: 15pt!important;
  }
}

@media (max-width: 768px) {
  .headnorm3 {
    font-size: 10pt!important;
  }
}

@media (max-width: 768px) {
  th {
  }
}

@media (max-width: 768px) {
  .name2 {
    display: none;
  }
}

.tablexmp {
  font-size: 16pt!important;
}

.btn {
}

@media (max-width: 1170px) {
  .bambo {
    font-size: 50pt!important;
  }
}

@media (max-width: 950px) {
  .tablexmp {
    font-size: 8pt!important;
  }
}

@media (max-width: 950px) {
  .link2 {
    font-size: 14pt;
  }
}

@media (max-width: 950px) {
  .name2 {
    font-size: 14pt;
  }
}

@media (max-width: 560px) {
  .cardsm.xxl2 {
    height: 250px!important;
  }
}

@media (min-width: 560px) {
  .card-body {
    max-height: 300px;
  }
}

